{% extends 'base.html.twig' %}

{% block title %}KidzLook{% endblock %}

{% block body %}
     <div id="leftSide">
    <br>
    <br>
    <br>
     L'heure actuel : 
    <br>
    <br>
    <br>
    Les personne connectés
    <br>
    <br>
    <br>
     Contactez nous ?
    <br>
    <br>
    <br>
    </div>
    

   <div id="main">
   <img src="{{asset('/uploads/BS.png')}}" alt="" /> 
    Bienvenue Professeurs , Eleves .
   </div>   
  
    
  <!-- Content section -->
   
  

  

 

  
{% endblock %}
