{% extends 'base.html.twig' %}

{% block title %}Jeux question{% endblock %}

{% block body %}



<div id="root"></div>


<script src="{{asset('build/app~question.js')}}"></script>
<script src="{{asset('build/question.js')}}"></script>
<script src="{{asset('build/app.js')}}"></script>
<script src="{{asset('build/runtime.js')}}"></script>

{% endblock %}


